<div id="content">
  <h1>New reminder</h1>
  <%= form_for(@reminder) do |f|  %>
    <fieldset>
      <%= f.label :title, 'Title' %>
      <%= f.text_field :title, required: true %>
    </fieldset>
    <fieldset>
      <%= label_tag "reminder[date]", 'Date' %>
      <%= date_field_tag "reminder[date]", date_value(@reminder),
        required: true, placeholder: 'yyyy-mm-dd' %>
      <%= label_tag "reminder[time]", 'Time' %>
      <%= select_tag "reminder[time]",
        options_for_select(time_options, time_option(@reminder)) %>
    </fieldset>
    <fieldset>
      <%= f.label :message, 'Message' %>
      <%= f.text_area :message %>
    </fieldset>
    <%= f.submit 'Submit' %>
  <% end %>
</div>
