<!DOCTYPE html>
<html>
  <head>
    <title>EmailReminder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if user_signed_in? %>
        <%= link_to "New reminder", new_reminder_path %>
        <%= link_to "Settings", edit_user_registration_path(current_user) %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      <% else %>
        <%= link_to "Log in", new_session_path(resource_name) %>
        <%= link_to "Sign up", new_registration_path(resource_name) %>
      <% end %>
    </div>
    <% flash.each do |_, message| %>
      <%= message %>
    <% end %>
    <%= yield %>
  </body>
</html>
